setuptools
wheel
Flask
opencv-python-headless
dlib-bin
face-recognition
face-recognition-models @ git+https://github.com/ageitgey/face_recognition_models.git
numpy>=1.24.0
Pillow
werkzeug
psycopg2-binary
supabase
gunicorn
python-dotenv
# force rebuild trig